
.layout-topbar-purple {
    --topbar-bg: #6f42c1;
    --topbar-menu-button-bg: #ffffff;
    --topbar-menu-button-text-color: #6f42c1;
    --topbar-item-text-color: #ffffff;
}
.layout-topbar-white {
    --topbar-bg: #ffffff;
    --topbar-menu-button-bg:  #8f4ad7;
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: #000000;
}
