.layout-menu-light {
  --menu-bg: #ffffff;
  --root-menuitem-text-color: #657380;
  --menuitem-text-color: rgba(255, 255, 255, 1);
  --menuitem-hover-bg: rgba(114, 194, 217, 0.6);
  --active-menuitem-text-color: rgba(255, 255, 255, 1);
  --active-menuitem-bg: rgba(114, 194, 217, 0.4);
  --inline-menu-border-color: #e4e4e4;
}
