@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;

  html {
    font-size: 16px !important;
  }

  .layout {
    background: linear-gradient(180deg, #1e1d5d 0%, rgba(30, 29, 93, 0.9) 100%);
    @apply tw-min-h-screen tw-w-full tw-absolute;
  }

  .layout::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 429px;
    background-image: url('data:image/svg+xml,<svg width="429" height="491" viewBox="0 0 429 491" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_f_41_1336)"><path fill-rule="evenodd" clip-rule="evenodd" d="M269.311 -240.455C363.393 -186.696 435.784 -64.3715 407.272 40.1684C379.733 141.142 218.182 118.788 149.737 197.966C81.7864 276.572 134.572 455.265 32.3491 473.881C-66.2805 491.844 -96.672 334.972 -155.056 253.475C-192.624 201.034 -241.366 153.92 -243.068 89.4334C-244.706 27.3371 -201.38 -21.9358 -163.626 -71.2637C-122.363 -125.176 -82.1889 -178.67 -18.9554 -203.381C74.8492 -240.04 181.866 -290.421 269.311 -240.455Z" fill="%236CC6DB" fill-opacity="0.1"/></g><defs><filter id="filter0_f_41_1336" x="-258.113" y="-276.411" width="686.671" height="766.713" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="7.5" result="effect1_foregroundBlur_41_1336"/></filter></defs></svg>');
    height: 491px;
    background-repeat: no-repeat;
  }

  .layout::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('data:image/svg+xml,<svg width="453" height="453" viewBox="0 0 453 453" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_f_41_1337)"><path fill-rule="evenodd" clip-rule="evenodd" d="M141.981 666.925C57.0289 615.4 -6.27565 501.451 22.5462 406.168C50.3848 314.136 198.039 338.405 262.854 267.327C327.201 196.763 283.32 31.5348 377.584 16.8237C468.535 2.62965 492.424 147.31 543.917 223.463C577.05 272.465 620.571 316.839 620.491 376.063C620.413 433.092 579.407 477.308 543.511 521.703C504.279 570.224 466.057 618.386 407.41 639.597C320.411 671.062 220.939 714.815 141.981 666.925Z" fill="%236CC6DB" fill-opacity="0.1"/></g><defs><filter id="filter0_f_41_1337" x="0.486084" y="0.851562" width="635.005" height="702.301" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="7.5" result="effect1_foregroundBlur_41_1337"/></filter></defs></svg>');
    background-repeat: no-repeat;
    width: 453px;
    height: 453px;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply tw-text-dark-purple tw-text-3xl tw-font-bold md:tw-text-5xl;
  }

  h1,
  .h1 {
    @apply tw-text-dark-purple tw-text-2xl tw-font-bold md:tw-text-4xl;
  }

  h2,
  .h2 {
    @apply tw-text-dark-purple tw-text-xl tw-font-bold md:tw-text-3xl;
  }

  h3,
  .h3 {
    @apply tw-text-dark-purple tw-text-lg tw-font-bold md:tw-text-2xl;
  }

  h4,
  .h4 {
    @apply tw-text-dark-purple tw-text-base tw-font-bold md:tw-text-lg;
  }

  body,
  p,
  .p {
    @apply tw-text-dark-purple tw-text-sm md:tw-text-base;
  }

  /* #endregion  /**======== Typography =========== */
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}